@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    50% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}

* {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
}

html {
    font-size: 100%;
}

/* color alternatives */
/* red: #f33333 */

:root {
    /* light mode */
    /* --bg-color: #ffffff;
    --pr-color: #7d33f3;
    --sc-color: #f2f0f0;
    --txt-color: #1d1d1d; */

    /* dark mode */
    --bg-color: #1d1d1d;
    --pr-color: #8870ff;
    --sc-color: #3a3a3a;
    --txt-color: #ffffff;

    --m-p-large: calc(4vw + 1rem);
    --m-p-medium: calc(2vw + 1rem);
    --m-p-small: calc(1vw + 1rem);
    --f-size-large: calc(1.5vw + 1rem);
    --f-size-small: .85rem;
    --f-size-xsmall: .75rem;
    --f-weight: 400;
    --border: solid 1px var(--pr-color);
}

body {
    width: 100vw;
    height: auto;
    position: relative;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    color: var(--txt-color);
    background-color: var(--bg-color);
}

body::-webkit-scrollbar {
    width: 10px;
}
  
body::-webkit-scrollbar-track {
    background: var(--bg-color);
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--pr-color);
    border-right: 9px solid var(--bg-color);
}

h1::selection,
h2::selection,
p::selection,
em::selection,
strong::selection,
i::selection,
br::selection,
div::selection,
img::selection {
    color: var(--txt-color);
    background-color: var(--sc-color);
}

a::selection,
span::selection {
    color: var(--pr-color);
    background-color: var(--sc-color);
    font-weight: var(--f-weight);
}

a, 
p,
h2,
h3,
h4,
h5,
h6,
span {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--pr-color);
    transition: font-style .3s ease, color 1.5s ease;
}

a:visited,
a:active {
    color: var(--pr-color);
}

a:hover {
    font-style: italic;
    color: var(--sc-color);
}

span {
    background-color: var(--sc-color);
    color: var(--txt-color);
    font-weight: var(--f-weight);
}

.initial {
    width: calc(100vw - 10px);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    background-color: #fff;
    animation: fadeOut 1.5s linear 1;
}

.initial img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--f-size-small);
}

.main {
    animation: fadeIn 1.6s ease 1;
}

header,
footer {
    display: flex;
    justify-content: space-between;
}

header {
    font-size: var(--f-size-small);
    line-height: 1.3;
    padding: var(--f-size-small) var(--m-p-large);
    border-bottom: var(--border);
}

footer {
    height: 4vh;
    align-items: center;
    padding: 0 var(--m-p-small);  
    border-top: var(--border);
}

header div,
footer div {
    margin-right: var(--m-p-medium);
}

header div:last-child,
footer div:last-child {
    margin-right: 0;
}

.contact {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.agenda {
    max-width: 23%;
}

.agenda h2 {
    font-size: var(--f-size-small);
    line-height: 1.3;
}

.main-content {
    padding: var(--m-p-large);
    height: auto;
    border-bottom: var(--border);
    position: relative;
}

.main-content p {
    font-weight: var(--f-weight);
    font-size: var(--f-size-large);
    line-height: 1.3;
    text-transform: uppercase;
}

.copy p {
    margin-bottom: 2rem;
}

.cover-image {
    background-image: url("assets/almare-bg-01.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    width: 100vw;
    height: calc(96vh - 1px);
    padding: var(--m-p-small) var(--m-p-large);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.caption {
    max-width: 25%;
    height: auto;
    color: var(--bg-color);
    font-size: var(--f-size-xsmall);
}

footer p,
footer a {
    font-size: var(--f-size-xsmall);
}

@media screen and (max-width: 900px)  {
    .main {
        animation: fadeIn 1s ease 1;
    }
    .initial {
        width: 70vw;
        height: auto;
        position: absolute;
        top: var(--f-size-small);
        right: var(--m-p-large);
        opacity: .5;
        pointer-events: none;
        background-color: transparent;
        mix-blend-mode: darken;
    }
    .initial img {
        position: static;
        transform: translate(0, 0);
        padding: 0;
    }
    header {
        display: block;
        }
    header div {
        margin: 0 0 var(--m-p-small) 0; 
    }
    header div:last-child {
        margin: 0;
    }
    .agenda {
        max-width: 100%;
    }
    .caption {
        max-width: 100%;
    }
}

@media screen and (max-width: 420px) {
    :root {
        --m-p-large: calc(1vw + 1rem);
        --f-size-small: 1rem;
        --f-size-xsmall: .85rem;
    }
    .initial {
        position: fixed;
        mix-blend-mode: lighten;
    }
}