@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    50% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}

* {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
}

html {
    font-size: 100%;
}

/* color alternatives */
/* red: #f33333 */

:root {
    /* light mode */
    /* --bg-color: #ffffff;
    --pr-color: #7d33f3;
    --sc-color: #f2f0f0;
    --txt-color: #1d1d1d; */

    /* dark mode */
    --bg-color: #1d1d1d;
    --pr-color: #8870ff;
    --sc-color: #3a3a3a;
    --txt-color: #ffffff;

    --m-p-large: calc(4vw + 1rem);
    --m-p-medium: calc(2vw + 1rem);
    --m-p-small: calc(1vw + 1rem);
    --f-size-large: calc(1.5vw + 1rem);
    --f-size-medium: calc(.5vw + 1rem);
    --f-size-small: .85rem;
    --f-size-xsmall: .75rem;
    --f-weight: 400;
    --border: solid 1px var(--pr-color);
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    color: var(--txt-color);
    background-color: var(--bg-color);
}

section::-webkit-scrollbar {
    width: 10px;
}
  
section::-webkit-scrollbar-track {
    background: var(--bg-color);
}
  
section::-webkit-scrollbar-thumb {
    background-color: var(--pr-color);
    border-right: 9px solid var(--bg-color);
}

section {
    overflow-x: hidden;
}

h1::selection,
h2::selection,
p::selection,
em::selection,
strong::selection,
i::selection,
br::selection,
div::selection,
img::selection {
    color: var(--txt-color);
    background-color: var(--sc-color);
}

a::selection,
span::selection {
    color: var(--pr-color);
    background-color: var(--sc-color);
    font-weight: var(--f-weight);
}

a, 
p,
h2,
h3,
h4,
h5,
h6,
span {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--pr-color);
    transition: font-style .3s ease, color 1.5s ease;
}

a:visited,
a:active {
    color: var(--pr-color);
}

a:hover {
    font-style: italic;
    color: var(--sc-color);
}

span {
    background-color: var(--sc-color);
    color: var(--txt-color);
    font-weight: var(--f-weight);
}

.initial {
    width: 50vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 3;
    pointer-events: none;
    mix-blend-mode: hard-light;
}

.menu {
    width: 100vw;
    height: 100vh;
    /* position: absolute;
    top: 0;
    left: 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu a {
    font-size: var(--f-size-large);
    color: var(--txt-color);
    padding: 8px;
    cursor: pointer;
    transition: font-style .3s ease, color 1.5s ease;
}

.menu a:hover {
    font-style: italic;
    color: var(--pr-color);
}

#lang {
    cursor: pointer;
}

.top-menu,
.bottom-menu {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: var(--m-p-small);
    z-index: 2;
}

.top-menu {
    align-items: flex-start;
}

.bottom-menu {
    align-items: flex-end;
}

.main-content,
.contact,
.agenda-content {
    padding: var(--m-p-medium);
    position: absolute;
    transition: transform .5s .2s ease;
    background-color: var(--bg-color);
}

.main-content {
    /* width: 70vw; */
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
}

#contact-btn {
    position: relative;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
}

.contact {
    height: 50vh;
    bottom: 0;
    left: -1px;
    font-size: var(--f-size-large);
    border-top: var(--border);
    border-right: var(--border);
    overflow: hidden;
}

.main-content,
.contact {
    transform: translateX(0);
}

.main-content,
.agenda-content {
    overflow-y: scroll;
}

#agenda-btn {
    position: relative;
    transform: rotate(360deg);
    writing-mode: vertical-lr;
}

.agenda-content {
    height: 100vh;
    top: 0;
    right: 0;
    border-left: var(--border);
    transform: translateX(0);
}

.contact,
.agenda-content {
    /* width: 30vw; */
    z-index: 4;
}

.agenda {
    margin-bottom: var(--m-p-medium);
}

.agenda:last-child {
    margin-bottom: 0;
}

.agenda-content div p:first-child {
    font-size: var(--f-size-large);
}

.agenda h2 {
    font-size: var(--f-size-small);
    line-height: 1.3;
}

.main-content p {
    font-weight: var(--f-weight);
    font-size: var(--f-size-large);
    line-height: 1.3;
    text-transform: uppercase;
}

.copy p {
    margin-bottom: 2rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: var(--m-p-large);
}

.footer p,
.footer a {
    font-size: var(--f-size-xsmall);
}

.cover-image {
    background-image: url("assets/almare-bg-01.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.caption {
    text-align: center;
    height: auto;
    color: var(--txt-color);
    font-size: var(--f-size-xsmall);
    padding: var(--f-size-xsmall);
}

.caption p {
    text-transform: none;
}

.close-left {
    transform: translateX(-100%);
}

.close-right {
    transform: translateX(100%);
}

.close-btn-a,
.close-btn-c,
.close-btn-m {
    font-size: var(--f-size-xsmall);
    text-transform: uppercase;
    position: fixed;
    top: var(--f-size-xsmall);
    transform: rotate(360deg);
    writing-mode: vertical-lr;
    cursor: pointer;
}

.close-btn-c,
.close-btn-m {
    right: var(--f-size-xsmall);
}

.close-btn-a {
    left: var(--f-size-xsmall);
}

@media screen and (max-width: 900px)  {
    /* .main-content {
        width: 60vw;
    }
    .contact,
    .agenda-content {
        width: 40vw;
    } */
    .caption {
        max-width: 50%;
    }
}

@media screen and (max-width: 420px) {
    :root {
        --m-p-large: calc(1vw + 1rem);
        --f-size-small: 1rem;
        --f-size-xsmall: .85rem;
    }
    .initial {
        width: 100vw;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .menu {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: flex-start;
    }
    .top-menu,
    .bottom-menu {
        flex-direction: column;
        align-items: flex-end;
    }
    #about-btn {
        writing-mode: vertical-lr;
    }
    #lang {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }
    .caption {
        max-width: 100%;
        text-align: left;
        font-size: 10px;
        margin-bottom: var(--m-p-large);
    }
    .main-content,
    .contact,
    .agenda-content {
        width: 100vw;
        border: var(--border);
    }
    .close-btn-a {
        left: initial;
        right: var(--f-size-xsmall);
    }
}