@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100vw);
    }
}

* {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
}

html {
    font-size: 100%;
}

:root {
    --bg-color: #1d1d1d;
    --pr-color: #fff;
    --sc-color: #3a3a3a;
    --txt-color: #fff;

    --m-p-large: calc(4vw + 1rem);
    --m-p-medium: calc(2vw + 1rem);
    --m-p-small: calc(1vw + 1rem);

    --f-size-large: calc(1.5vw + 1rem);
    --f-size-medium: 1.2rem;
    --f-size-small: .85rem;
    --f-size-xsmall: .75rem;
    --f-weight: 400;

    --border: solid 1px var(--pr-color);
    --border-link: solid 1px var(--txt-color);
}

body {
    width: 100vw;
    height: auto;
    position: relative;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    font-weight: var(--f-weight);
    color: var(--txt-color);
    background-color: var(--bg-color);
    animation: fadeIn .2s ease 1;
}

body::-webkit-scrollbar {
    width: 10px;
}
  
body::-webkit-scrollbar-track {
    background: var(--bg-color);
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--pr-color);
    border-right: 9px solid var(--bg-color);
}

.content-wrapper::-webkit-scrollbar {
    width: 10px;
}
  
.content-wrapper::-webkit-scrollbar-track {
    background: var(--bg-color);
}
  
.content-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--pr-color);
    border-right: 9px solid var(--bg-color);
}

h1::selection,
h2::selection,
p::selection,
em::selection,
strong::selection,
i::selection,
br::selection,
div::selection,
img::selection {
    color: var(--pr-color);
    background-color: var(--sc-color);
}

a::selection,
span::selection {
    color: var(--txt-color);
    background-color: var(--sc-color);
}

a, 
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-weight: var(--f-weight);
}

h1 {
    font-size: var(--f-size-small);
}

a {
    text-decoration: none;
    color: var(--txt-color);
    font-weight: var(--f-weight);
    border-bottom: var(--border-link);
    transition: font-style .3s ease, color 1s ease, border-bottom 1s ease;
}

a:visited,
a:active {
    color: var(--txt-color);
}

a:hover {
    font-style: italic;
    color: var(--sc-color);
    border-bottom: solid 1px var(--bg-color);
}

.logo {
    display: none;
    transition: filter .5s .5s ease;
}

.main {
    display: flex;
    flex-direction: column;
    transition: filter .5s .5s ease, color .5s .3s ease;
    animation: fadeIn .8s ease 1;
}

header,
footer {
    display: flex;
    justify-content: space-between;
}

header {
    font-size: var(--f-size-small);
    line-height: 1.3;
    padding: var(--f-size-small) var(--m-p-large);
    border-bottom: var(--border);
}

footer {
    height: 4vh;
    align-items: center;
    padding: 0 var(--m-p-small);  
    border-top: var(--border);
}

footer a {
    margin-left: var(--m-p-medium);
}

.contact {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.contact div:not(:last-child),
.contact h1 {
    margin-bottom: var(--f-size-small)
}

.buttons {
    cursor: pointer;
    writing-mode: vertical-lr;
}

.buttons a {
    text-transform: uppercase;
    border-bottom: none;
    border-left: var(--border-link);
    transition: font-style .3s ease, color 1s ease, border-left 1s ease;
}

.buttons a:hover {
    border-left: solid 1px var(--bg-color);
}

.agenda {
    max-width: 23%;
}

.agenda p {
    text-transform: uppercase;
}

.agenda h2 {
    font-size: var(--f-size-medium);
    font-weight: var(--f-weight);
    line-height: 1.2;
    margin-bottom: 8px;
}

.slide-content {
    width: 45vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 4;
    transition: transform .5s .2s ease;
}

.content-wrapper {
    width: 40vw;
    height: 100%;
    position: sticky;
    top: 0;
    overflow-y: scroll;
    padding: var(--m-p-medium);
    border-left: var(--border);
    background-color: #1d1d1d50;
}

.open {
    transform: translateX(0);
}

.close-btn {
    width: var(--m-p-medium);
    margin: var(--m-p-small);
    display: flex;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
    opacity: 0;
    transition: opacity .5s ease, filter .5s ease;
}

.close-btn svg {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
}

.cross {
    fill: none;
    stroke: var(--pr-color);
    stroke-miterlimit: 10;
    stroke-width: 5px;
    transition: stroke 1.5s ease;
}

.close-btn:hover {
    filter: blur(2px);
}

.close-btn svg:hover > .cross {
    stroke: var(--sc-color);
}

.slide-block {
    margin-bottom: var(--m-p-medium);
}

.slide-block:last-child {
    margin-bottom: 0;
}

.slide-block h2 {
    font-size: var(--f-size-large);
    text-transform: uppercase;
    margin-bottom: var(--m-p-small);
}

.slide-block p {
    line-height: 1.2;
    font-size: var(--f-size-small);
    text-transform: uppercase;
    margin: 8px 0;
}

.slide-block a {
    line-height: 1.2;
    font-size: var(--f-size-medium);
    text-transform: none;
}

.main-content {
    padding: var(--m-p-large);
    height: auto;
    border-bottom: var(--border);
    position: relative;
}

.main-content p {
    font-weight: var(--f-weight);
    font-size: var(--f-size-large);
    line-height: 1.3;
    text-transform: uppercase;
}

.copy p {
    margin-bottom: 2rem;
}

.cover-image {
    background-image: url("upload/almare-bg-01.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    width: 100vw;
    height: calc(96vh - 1px);
    padding: var(--m-p-small) var(--m-p-large);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.caption {
    max-width: 35%;
    height: auto;
    color: var(--txt-color);
    font-size: var(--f-size-xsmall);
    text-transform: none;
}

footer p,
footer a {
    font-size: var(--f-size-xsmall);
    text-transform: uppercase;
}

@media screen and (max-width: 900px)  {
    .main {
        animation: fadeIn 1s ease 1;
    }
    .logo {
        display: block;
        width: 70vw;
        height: calc(30vh - var(--f-size-small));
        position: absolute;
        top: var(--f-size-small);
        right: var(--m-p-large);
        opacity: 1;
        pointer-events: none;
        background-color: transparent;
        mix-blend-mode: hard-light;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    header div {
        margin: 0 0 var(--m-p-small) 0; 
    }
    header div:last-child {
        order: 2;
        margin: 0;
    }
    .agenda {
        max-width: 100%;
    }
    .slide-content {
        width: 100vw;
        z-index: 10;
    }
    .content-wrapper {
        width: 90vw;
    }
    .cover-image {
        z-index: 9;
    }
    .caption {
        max-width: 100%;
    }
}

@media screen and (max-width: 420px) {
    :root {
        --m-p-large: calc(1vw + 1rem);
        /* --f-size-small: 1rem; */
        /* --f-size-xsmall: .5rem; */
    }
    .logo {
        position: fixed;
    }
    .main-content {
        order: 1;
        padding-top: 15vh;
    }
    header {
        order: 2;
        padding: 0;
    }
    header div {
        margin: 0;
    }
    header div:nth-child(2) {
        margin-top: 2rem;
    }
    .contact,
    .buttons {
        padding: var(--m-p-large);
        background-color: var(--bg-color);
        z-index: 9;
    }
    .agenda {
        padding: var(--m-p-large);
        order: 3;
    }
    .contact {
        margin: 0;
        border-bottom: var(--border);
    }
    .contact h1 {
        display: none;
    }
    .contact-block {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .contact-block p {
        font-size: var(--f-size-large);
        margin-right: 1rem;
    }
    header:nth-child(2) {
        margin-top: 2rem;
    }
    .content-wrapper {
        width: 80vw;
    }
    .slide-block a {
        font-size: var(--f-size-small);
    }
    .slide-block p {
        font-size: var(--f-size-xsmall);
    }
    .buttons {
        writing-mode: horizontal-tb;
        font-size: var(--f-size-large);
        border-bottom: var(--border);
    }
    .buttons a {
        display: inline;
        border-left: none;
        border-bottom: var(--border-link);
    }
    .buttons a:hover {
        border-left: none;
        border-bottom: solid 1px var(--bg-color);
    }
    .close-btn {
        width: 10vw;
    }
    .cover-image {
        order: 3;
    }
    footer {
        order: 4;
    }
}